<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Dinning Guide</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-dark navigation-clean-button">
        <div class="container">
            <a class="navbar-brand" href=@Url.Action("Index","Home")>Salt</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href=@Url.Action("Index","Home")>Home</a></li>
                    <li class="nav-item"><a class="nav-link" href=@Url.Action("Index1","Home")>Search</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">More</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">Featured restaurants</a><a class="dropdown-item" href=@Url.Action("About","Home")>About us</a><a class="dropdown-item" href=@Url.Action("Contact","Home")>Contact us</a></div>
                    </li>
               
                </ul>
                @if (Session["FullName"] != null)
                 {
                     <span class="navbar-text actions">
                        <a class="login" href="@Url.Action("Logout","Home")">Log Out</a>
                        <a class="btn btn-light action-button" role="button" href="@Url.Action("Profile","Home")" >Profile</a>
                     </span>
                 }
                 else
                 {
                     <span class="navbar-text actions">
                        <a class="login" href=@Url.Action("Login","Home")>Log In</a>
                        <a class="btn btn-light action-button" role="button" href=@Url.Action("Register","Home")>Sign Up</a>
                     </span>
                 }
            </div>
        </div>
    </nav>
    @RenderBody()
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href=@Url.Action("About","Home")>Salt</a></li>
                            <li><a href=@Url.Action("Contact","Home")>Team</a></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>SALT COMPANY LTD.</h3>
                        <p> <b>Address: </b>No.07 Phan Ke Binh Rd, Da Kao Ward, </br> District 1, HCMC</p>
                        <p> <b>Representative:</b> Verp </p>
                    </div>
                    <div class="col item social"><h3>CONNECT VIA</h3><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Salt © 2020. <i>The leading cooking spice for your entire life.</i></p>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
