@using System.Data.Entity;
@using System.Linq;
@model Dinning_Guide.Models.Rate.Rate
@{
    ViewBag.Title = "CreateReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> CreateReview </title>
</head>
<body>
    <div id="delete">
        <div class="form-container">
            @using (Html.BeginForm("CreateReview","Home",FormMethod.Post))
            {
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Rate1, "", new { @class = "form-control", @placeholder = "Rating" })
                        @Html.ValidationMessageFor(m => m.Rate1, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Review, "", new { @class = "form-control", @placeholder = "Review" })
                        @Html.ValidationMessageFor(m => m.Review, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary action-button" value="Submit" />
                    </div>
                </form>
            }
            </div>
        </div>
    </div>
</body>
</html>