
@using System.Data.Entity;
@using System.Linq;
@model Dinning_Guide.Models.Restaurant.Restaurant
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div id="Prof_page">
    <div class="info">
        <h1>Restaurant detail</h1>
        <h2>
            @Html.DisplayNameFor(model => model.Name)
        </h2>
        <p>
            @Html.DisplayFor(model => model.Name)
        </p>
        <h2>
            @Html.DisplayNameFor(model => model.Rate)
        </h2>
        <p>
            @Html.DisplayFor(model => model.Rate)
        </p>
        <!--<dd>
        <table class="table">
            <tr>
                <th>Course Title</th>
                <th>Grade</th>
            </tr>
            foreach (var item in Model.Enrollments)
            {
                <tr>
                    <td>
                        Html.DisplayFor(modelItem => item.Course.Title)
                    </td>
                    <td>
                        Html.DisplayFor(modelItem => item.Grade)
                    </td>
                </tr>
            }
        </table>
    </dd>-->
        <a class="btn btn-light action-button" role="button" href="@Url.Action("Index1","Home")">Back To Search</a>
    </div>
</div>

