
@using System.Data.Entity;
@using System.Linq;
@model Dinning_Guide.Models.Restaurant.Restaurant
 
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div id="Prof_page">
    <div class="info">
        <h1>Restaurant detail</h1>


        <h2>Name : @Html.DisplayFor(model => model.Name).ToHtmlString()</h2>
        <h3> Rating : @Html.DisplayFor(model => model.Rate).ToHtmlString() <i class="fa fa-star" aria-hidden="true"></i></h3>
     
        <h4>@Html.DisplayFor(model => model.Decription).ToHtmlString()</h4>


        @if (Session["FullName"] != null)
        {
            <a class="btn btn-light action-button" role="button" href="@Url.Action("ReviewDetail","Home",new { id = @ViewBag.restaurantId})">View reviews</a>
            <a class="btn btn-light action-button" role="button" href="@Url.Action("CreateReview","Home",new { id = @ViewBag.restaurantId})">Add Review</a>
            <a class="btn btn-light action-button" role="button" href="@Url.Action("Delete","Home",new { id = @ViewBag.restaurantId})">Delete review</a>
            if (Session["Type"].ToString() == Convert.ToString(1) && Session["idUser"].ToString() == Convert.ToString(Model.IDUser))
            {
    <h2>@Html.ActionLink("Delete", "ORestaurantDelete", new { id = Model.ID }) | @Html.ActionLink("Edit", "RestaurantEdit", new { id = Model.ID })</h2>  
}
        }
        else
        {
        <a class="btn btn-light action-button" role="button" href="@Url.Action("ReviewDetail","Home",new { id = @ViewBag.restaurantId})">View reviews</a>
        <p>
            Login to create a review
        </p>
        }

        @Html.ActionLink("Back to List", "Index1")
    </div>
</div>

