
@using System.Data.Entity;
@using System.Linq;
@model Dinning_Guide.Models.Restaurant.Restaurant
 
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div id="Prof_page">
    <div class="info">
        <h1>Restaurant detail</h1>
        <table>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Name).ToHtmlString()
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Rate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Rate).ToHtmlString()
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Decription)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Decription).ToHtmlString()
                </td>
            </tr>
        </table>
        @if (Session["FullName"] != null)
        {
            <a class="btn btn-light action-button" role="button" href="@Url.Action("CreateReview","Home",new { id = @ViewBag.restaurantId})">Review</a>
            <a class="btn btn-light action-button" role="button" href="@Url.Action("Delete","Home",new { id = @ViewBag.restaurantId})">Delete review</a>
        }
        else
        {
            <p>
                Login to create a review
            </p>
        }
        <a class="btn btn-light action-button" role="button" href="@Url.Action("Index1","Home")">Back To Search</a>
    </div>
</div>

