@using System.Data.Entity;
@using System.Linq;
@model Dinning_Guide.Models.Restaurant.Restaurant
@{
    ViewBag.Title = "Create Restaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> CreateReview </title>
</head>
<body>
    <div id="delete">
        <div class="form-container">
            @using (Html.BeginForm("ORestaurantCreate", "Home", FormMethod.Post))
            {
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Name, "", new { @class = "form-control", @placeholder = "Name" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Address, "", new { @class = "form-control", @placeholder = "Address" })
                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Decription, "", new { @class = "form-control", @placeholder = "Description" })
                        @Html.ValidationMessageFor(m => m.Decription, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-light action-button" value="Submit" />
                    </div>
                    @Html.ActionLink("Back to List", "ORestaurantManage")
                </form>
            }
            
        </div>
    </div>
</body>
</html>